{% extends "layouts/main.html" %}

{% set pageName = "Accessibility statement" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ serviceName }}</h1>
    <p>The GOV.UK Design System team (the team) is committed to making its website at design-system.service.gov.uk and the GOV.UK Frontend documentation website at frontend.design-system.service.gov.uk accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.

This accessibility statement applies to both websites and the components and patterns from the GOV.UK Frontend codebase which appear in the examples throughout the Design System.

The team wants to make sure as many people as possible can use their websites. For example, making sure the website text is as clear as possible to understand and making sure you can:

change colours, contrast levels and fonts
zoom in up to 400% without the text spilling off the screen
listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA, TalkBack and VoiceOver)
navigate most of the website using just a keyboard
navigate most of the website using just a mouse and on-screen keyboard
navigate most of the website using speech recognition software
AbilityNet has advice on making your device easier to use, if you have a disability.</p>
     </div>
</div>

{% endblock %}
 